<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>

    <!--https://www.dropzone.dev/js/
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Message in a flask</a> -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            <img src="{{ url_for('static', filename='logo.png') }}" width="50" height="50"/>
            <div id="clients-count" class="badge rounded-pill bg-info text-dark"></div>
        </div>
    </nav>
    <!-- <h1 style="color: blue">Message in a flask</h1> -->

	<div class="container-fluid">
		<div class="row">
			<div class="col">	
				{{data}}
			</div>
		</div>
		
        <!-- messages form -->
		<form  action="" method="POST">
		<div class="row">
			<div class="col">	
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				  <input type="text" class="form-control username" placeholder="Username">
				  </div>

				  <input type="text" class="form-control message" placeholder="Message">  
				  <div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit" id="button-addon2">Send</button>
				  </div>
				</div>	
			</div>
		</div>		
		</form>							

        <!-- alert section -->
        <div class="alert alert-danger collapse" role="alert" id="alert-holder">
        </div>

        <!-- messages container -->
		<div class="row">
			<ul class="list-group" id="message-holder"></div>		
		</div>
	</div>	
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('data_event', {
                data: 'user connected'
            })
        });


        socket.on('response', function(msg) {
            //console.log(msg)
            if (typeof msg.user_name !== 'undefined') {
                let message_id = "msg-"+msg.id
                //todo filter messages by id
                if($("#" + message_id).length == 0) {
                    $('#message-holder').append(`
                    <li class="list-group-item" id="${message_id}">
                        <span class="border border-primary rounded p-1">${msg.user_name}</span> ${msg.message}
                    </li>`)
                }
            }
        })

        var form = $('form').on('submit', function(e) {
            e.preventDefault()
            let user_name = $('input.username').val()
            let user_input = $('input.message').val()
            socket.emit('data_event', {
                user_name: user_name,
                message: user_input
            })
            $('input.message').val('').focus()
        })

        socket.on('server_status', function(msg){
            // for (var key in msg) { 
            //     console.log(key, msg[key])
            // }            
            if ( (msg.db_connection instanceof Boolean && msg.db_connection != true) || (msg.db_connection instanceof String && msg.db_connection.includes("error")) ){
                //var bsCollapse = new bootstrap.Collapse(document.getElementById('alert-holder'), {  show: true })
                $('#alert-holder').text(msg.db_connection)
                $('#alert-holder').addClass('show')
                $('#alert-holder').removeClass('collapse')
            } else {
                //var bsCollapse = new bootstrap.Collapse(document.getElementById('alert-holder'), {  hide: true })                
                $('#alert-holder').addClass('collapse')
                $('#alert-holder').removeClass('show')
                $('#alert-holder').text("")
            }       
            
            if ( msg.client_count instanceof Number || (msg.client_count instanceof String && !msg.client_count.includes("error"))){
                $('#clients-count').text(msg.client_count)
            } else {
                //console.log( msg.client_count )
                $('#clients-count').text(msg.client_count)
            }
        })
    </script>
</body>

</html>
